name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          pip install wheel setuptools
          pip install tensorflow==2.8.0 tensorflow-addons

      - name: Build wheel
        run: python setup.py bdist_wheel

      - name: Upload Python wheel
        uses: actions/upload-artifact@v2
        with:
          name: Python wheel
          path: ${{github.workspace}}/dist/gradient-accumulator-*.whl
          if-no-files-found: error

  test:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      # max-parallel: 10
      matrix:
        os: [windows-2019, ubuntu-18.04, macos-10.15]
        python-version: [3.7, 3.8, 3.9]
        tf-version: [2.8.0, 2.9.1]

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install wheel setuptools
          pip install tensorflow==${{ matrix.tf-version }}
          pip install tensorflow-addons
          pip install tensorflow-datasets
          pip install pytest

      - name: Download artifact
        uses: actions/download-artifact@master
        with:
          name: "Python wheel"

      - name: Install wheel
        run: pip install --find-links=${{github.workspace}} gradient-accumulator

      - name: Test library accessibility
        run: python -c "from gradient_accumulator.GAModelWrapper import GAModelWrapper"

      - name: Run tests
        run: |
          pytest -v tests/test_train_mnist.py
          pytest -v tests/test_expected_result.py
          pytest -v tests/test_mixed_precision.py
          pytest -v tests/test_optimizer_invariance.py
          pytest -v tests/test_multitask.py

  tf-compatibility:
    needs: build
    runs-on: ubuntu-18.04
    strategy:
      # max-parallel: 10
      matrix:
        include:
          - os: ubuntu-18
            python-version: 3.6
            tf-version: 2.2.0

          - os: ubuntu-18
            python-version: 3.6
            tf-version: 2.3.0

          - os: ubuntu-18
            python-version: 3.6
            tf-version: 2.4.0

          - os: ubuntu-18
            python-version: 3.6
            tf-version: 2.5.0

          - os: ubuntu-18
            python-version: 3.6
            tf-version: 2.6.2
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install wheel setuptools
          pip install tensorflow==${{ matrix.tf-version }}
          pip install tensorflow-addons
          pip install tensorflow-datasets
          pip install pytest

      - name: Download artifact
        uses: actions/download-artifact@master
        with:
          name: "Python wheel"

      - name: Install wheel
        run: pip install --find-links=${{github.workspace}} gradient-accumulator

      - name: Test library accessibility
        run: python -c "from gradient_accumulator.GAModelWrapper import GAModelWrapper"

      - name: Run test
        run: python tests/test_train_mnist.py

